@media (max-width: 640px) { body {font-size:15px; }}
@media (min-width: 640px) { body {font-size:16px; }}
@media (min-width: 960px) { body {font-size:16px; }}
@media (min-width:1100px) { body {font-size:16px; }}

@media (max-width: 640px) { code {font-size:12px; }}
@media (min-width: 640px) { code {font-size:13px; }}
@media (min-width: 960px) { code {font-size:15px; }}
@media (min-width:1100px) { code {font-size:17px; }}
body {
	/*font: 18px Tahoma, sans-serif;*/
	font-family: Tahoma, sans-serif;
	background-color: #cee0de;
	margin: 3px;
	text-align: center;
}
a, a:active, a:visited {
 color: #426672;
}
code {
	/*font-family: Tahoma, sans-serif;*/
	font-family: "Consolas", "Lucida Console", monospace;
}
p {
	margin: 10px 0;
}
#wrapper2 {
	display:inline-block;
	text-align: left;
	min-width: 50%;
}
#wrapper {
	max-width: 960px;
	min-width: 100%;
	margin: auto;
}
header {
	font-size: 20px;
	padding: 10px;
	margin: 10px;
	margin-bottom: 0px;
	background-color: #aec0be;
	text-align: center;
}
section {
	margin: 10px;
	padding: 10px;
	background-color: #f3f8f7;
}
.info {
	float: left;
	width: 210px;
}
.info table {
	border-collapse: collapse;
	border: 1px solid grey;
	width: 100%;
}
.info td {
	border-bottom: 1px solid grey;
	padding: 5px;
}
.sect_name td {
	text-align: center;
	font-weight: bold;
	background-color: #aec0be;
}
.status {
	float: none;
	margin-left: 252px;
}
.settings, .alarms {
	float: none;
	margin-left: 252px;
}
.settings input {
	width: 250px;
}
.alarms {
	min-width: 250px;
}
.settings td {
	padding: 5px;
}
.days label{
    display: block;
    float: left;
    margin-left:18px;
		margin-right: 5px;
		width: 30px;
}
.days label input[type='checkbox'] {
  margin-left:-18px;
}
